


    .title {
         white-space: nowrap; 
         max-width: 100%; 
         font-size: 1.8rem;    
        }

    



   #message{
    position:relative;
    top: 60px;
    font-size: 1.4rem;
    font-weight: 400;
   }

    #loading-spinner {
            display: none;
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid gray; /* Blue */
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 1s linear infinite;
            margin: 0 auto;
            margin-top: 20px;
            position: relative;
            top: 95px;
            z-index: 3;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        

    body {
        /* user-select: none; */
        background-image: url('/images/img1.JPG');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: white;
        background-color: black;   
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .container {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }


    #b{
    position: relative;
    top: 50px; 
    }


.transparent-button {
  background-color: transparent;
  backdrop-filter: blur(3px); /* Apply blur effect */
	-webkit-backdrop-filter: blur(3px); /* Safari blur effect */
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2.25rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition effect */
  height: 3rem;
  width: 9rem;
  position: relative;
  top: 20px;
}

.transparent-input {
  background-color: transparent;

  /* border: 2px solid white; */
  color: white;
  text-decoration: none;
  font-size: 1rem;
  line-height: 2.25rem;
  /* border-radius: 10px; */

}


.transparent-button:hover {
      /* background-color: white; */
      color: white;
      text-decoration: none;
      /* opacity: 0.5; */
  }



h1 {
        font-family: "Georgia", serif; /* Change to your desired classic font */
        font-size: 2.5rem; /* Adjust the size as needed */
   }

  #preview {
     /* Set desired width */
    height: 30%;
    object-fit: contain;
    position: absolute;
    top: 240px;
    z-index: 2;
    border: 2px dotted white; /* Add a 1px white border */
    box-sizing: border-box; /* Include border in the element's dimensions */
    display: none;
}


/* #preview.filter {
    -webkit-filter: contrast(90%) sepia(20%);
    filter: contrast(90%) sepia(20%);
}

#preview.filter::before {
    content: "";
    position: absolute;
    pointer-events: none;
    mix-blend-mode: overlay;
    background: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(208, 186, 142, 1) 20, rgba(29, 2, 16, 0.2));
    background: radial-gradient(50% 50%, circle closest-corner, rgba(208, 186, 142, 1) 20, rgba(29, 2, 16, 0.2));
} */

#image{
    display: none;
}

#button{
    position: relative;
    top: 340px;
}
    

