@import url('/media/fonts.css');

body {
    position: relative;
    background-image: url('/images/bap/download.jpg');
    background-color: #d8d9de;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    pointer-events: none; 
    z-index: 1;
  }
.item.item-1 {
    position: relative;
    top: 170px;
}

.item.item-3 {
    position: relative;
    top: 0px !important;
}
